# Assignment 6
## @author : @ruhend (Mudigonda Himansh)
## AP19110010169
## Apriori Algorithm

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter

In [15]:
low_memory=False

In [29]:
df = pd.read_csv("Transactions.csv")
print ('dataset: %s'%(str(df.shape)))
threshold = 15

dataset: (100, 7)

In [30]:
df

   Item1 Item2 Item3 Item4 Item5 Item6 Item7
0      W     Z     G     F     B     I     Z
1      U     S     I     X     B     J     K
2      C     K     B     B     O     N     R
3      Q     Q     M     I     P     U     M
4      G     B     Z     R     O     F     Q
..   ...   ...   ...   ...   ...   ...   ...
95     R     Q     V     C     D     N     X
96     X     B     I     F     C     H     H
97     L     W     B     E     K     Y     A
98     L     H     W     M     Z     R     H
99     K     Y     Z     Y     A     M     Z

[100 rows x 7 columns]

In [31]:
Item1_c = Counter(df.Item1)
Item2_c = Counter(df.Item2)
Item3_c = Counter(df.Item1)
Item4_c = Counter(df.Item2)
Item5_c = Counter(df.Item1)
Item6_c = Counter(df.Item2)
Item7_c = Counter(df.Item1)
Freq1=Item1_c+Item2_c+Item3_c+Item4_c+Item5_c+Item6_c+Item7_c
print(dict(Freq1))

{'W': 27, 'U': 35, 'C': 14, 'Q': 30, 'G': 31, 'R': 41, 'D': 32, 'Z': 22, 'T': 36, 'A': 37, 'H': 38, 'S': 33, 'L': 31, 'O': 25, 'Y': 31, 'E': 14, 'K': 25, 'B': 16, 'J': 25, 'P': 23, 'F': 21, 'I': 34, 'X': 30, 'V': 16, 'N': 17, 'M': 16}

In [32]:
for i in Freq1:
    print(i)

SyntaxError: invalid syntax (2250442452.py, line 1)